/*
 *  Owl Carousel CSS3 Transitions customized by j3dlab
 *  v1.3.2
 */

/* backSlide */
.backSlideOut {
  -webkit-animation-name : backSlideOut  ;
  animation-name : backSlideOut  ;
}
.backSlideIn {
  -webkit-animation-name : backSlideIn  ;
  animation-name : backSlideIn  ;
}

@-webkit-keyframes backSlideOut {
  25% { opacity: .5; -webkit-transform: translateZ(-500px) scale(0.8); }
  75% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%) scale(1);; }
}
@-moz-keyframes backSlideOut {
  25% { opacity: .5; -moz-transform: translateZ(-500px) scale(0.8); }
  75% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%) scale(1); }
}
@keyframes backSlideOut {
  25% { opacity: .5; transform: translateZ(-500px) scale(0.8); }
  75% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; transform: translateZ(-500px) translateX(-200%) scale(1); }
}
@-webkit-keyframes backSlideIn {
  0%, 25% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(200%) scale(0.8); }
  75% { opacity: .5; -webkit-transform: translateZ(-500px) scale(0.8); }
  100% { opacity: 1; -webkit-transform: translateZ(0) translateX(0) scale(1); }
}
@-moz-keyframes backSlideIn {
  0%, 25% { opacity: .5; -moz-transform: translateZ(-500px) translateX(200%) scale(0.8); }
  75% { opacity: .5; -moz-transform: translateZ(-500px) scale(0.8); }
  100% { opacity: 1; -moz-transform: translateZ(0) translateX(0) scale(1); }
}
@keyframes backSlideIn {
  0%, 25% { opacity: .5; transform: translateZ(-500px) translateX(200%) scale(0.8); }
  75% { opacity: .5; transform: translateZ(-500px) scale(0.8); }
  100% { opacity: 1; transform: translateZ(0) translateX(0) scale(1); }
}



/* scaleUp */
.fadeUpIn {
  -webkit-animation-name : scaleUpFrom  ;
  -webkit-animation-duration : 0.5s !important ;
  animation-name : scaleUpFrom  ;
}

.fadeUpOut {
  -webkit-animation-name : scaleUpTo  ;
  -webkit-animation-duration : 0.5s !important ;
  animation-name : scaleUpTo  ;
}

@-webkit-keyframes scaleUpFrom {
  from { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpFrom {
  from { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpFrom {
  from { opacity: 0; transform: scale(1.5); }
}

@-webkit-keyframes scaleUpTo {
  to { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpTo {
  to { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpTo {
  to { opacity: 0; transform: scale(1.5); }
}