///////////////////////
// Required
///////////////////////
@import 'components/base';

@include reset;
@include type;

//*=========================================================================
//
//  TABLE OF CONTENTS
//
//========================================================================== *//
/*

CSS INDEX

  GENERAL
  JQEasyTootip
  LOADER
  PRINCIPAL NAV
  HEADER
  ABOUT
  TEAM
  WORK
  WORK DETAILS
  CLIENTS
  BLOG
  BLOG DETAIL
  COLORS
  RESPONSIVE

*/
//*=========================================================================
//  GENERAL
//========================================================================== *//

body,
html {
  height: 100%;
  font-size: 99%;
}

canvas {
  width: 100% !important;
}

.page-content {
  overflow: hidden;
  opacity: .5;
}


/*LIST*/
ol, ul {
  margin: 0;
  padding: 0;
  list-style: none outside none;
}

li {
  margin: 0;
  padding: 0;
}

/*VERTICAL ALIGN*/
.centerContainer {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;

  > div:nth-of-type(1) {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }

}

/*ABSOLUTE VERTICAL ALIGN*/
.absoluteCenterContainer {
  position: absolute;
  top: 53%;  /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  width: 100%;
  transform: translate(-50%, -50%);
}

.fullScreen {
  width: 100%;
  height: 100%;
}

.paddingstandard {
  padding: 165px 0;
}

.paddingstandardTop {
  padding-top: 165px;
}

.paddingstandardBottom {
  padding-bottom: 165px;
}

.paddingSection {
  &:first-child {
    padding-top: 165px;
    padding-bottom: 75px;
  }
  padding: 75px 0;
}

.aligncenter {
  text-align: center;
}

.divider {
  overflow: hidden;
  height: 1px;
  margin: 60px 0;
  border-bottom: 1px solid $grey-100;
}

/*BLOCKQUOTE*/
blockquote {
  margin: 20px 0 30px;
  padding: 40px 30px;
  border-left: 5px solid;
  color: $grey-400;
}

/* COLUMNS */
.framedColumn {
  padding: 35px;
}


/* ==========================================================================
   Avatar Portrait
   ========================================================================== */

.avatar-portrait {
  width: 450px;
  height: 450px;
  display: block;
  margin: 45px auto 35px auto;
  background: url('../img/avatar-portrait.png') no-repeat;
}


/* ==========================================================================
   Spacesuit Background
   ========================================================================== */


.spacesuit-bg {
  position: relative;
  clear: both;
  height: 800px;
  color: $white;
  background: $black url('../img/backgrounds/spacesuit-bg.jpg') no-repeat 0 0;
  text-align: center;
  text-transform: uppercase;
}

.multiplebgs .spacesuit-bg {
  background-image: url('../img/backgrounds/tech-seperator.png'), url('../img/backgrounds/tech-seperator-bottom.png'), url('../img/backgrounds/spacesuit-bg.jpg');
  background-repeat: repeat-x, repeat-x, no-repeat;
  background-position: 0 0, 0 bottom, center;
  background-size: auto auto, auto auto, cover !important;
}

@media only screen and (min-width: 1200px) {
  .spacesuit-bg {
    background-size: cover !important;
  }
}

@media only screen and (min-width: 1240px) {
  .spacesuit-bg {
    background-attachment: scroll, scroll, fixed;
    background-size: auto auto, auto auto, cover !important;
  }
}

@media only screen and (min-width: 2503px) {
  .spacesuit-bg {
    padding: 55px 0;
    background: url('../img/backgrounds/spacesuit-bg-hd.jpg') no-repeat 0 50px;
    background-attachment: scroll, scroll, fixed !important;
  }
}

  .quote-wrapper {
    position: absolute;
    top: 53%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
  }

  .quote-one {
    font: 1.275rem "Lato", sans-serif;
    font-weight: 100;
    letter-spacing: 4px;
    word-spacing: .06em;
    line-height: 1em;
  }

  .quote-two {
    @include safe-rem(padding-top, 25);
    font: 2.475rem "Lato", sans-serif;
    width: 90%;
    margin: 0 auto;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.10em;
    word-spacing: .06em;
  }

  .quote-three-wrapper {
    position: relative;
    z-index: 500;
    max-width: 800px;
    margin: 0 auto;
    padding: 25px 15px 0;
  }

  .quote-three {
    float: right;
    font: .95rem "Lato", sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 1.25em;
  }

  p.inview {
    display: none;
  }

  #spheres-block {
    position: relative;
    top: 50%;
    max-width: 625px;
    height: 625px;
    margin: 0 auto;
    transform: translate(0, -50%);
  }

  .spheres {
    position: absolute;
    overflow: hidden;
    width: 620px;
    height: 620px;
  }

  .rings {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 50%;
    opacity: .45;
  }

  .rings:before, .rings:after {
    position: absolute;
    width: 16px;
    height: 16px;
    border: 1px solid $white;
    border-radius: 50%;
    content: '';
    background: $grey-600;
  }

  .rings:before {
    top: -9px;
    right: 0;
    left: 0;
    margin: auto;
  }

  .rings:after {
    right: 0;
    bottom: -9px;
    left: 0;
    margin: auto;
  }

  .rings:first-of-type {
    width: 600px;
    height: 600px;
    animation: rotate 20s linear infinite;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
  }

  .rings:first-of-type:before {
    top: -6px;
    width: 9px;
    height: 9px;
  }

  .rings:first-of-type:after {
    display: none;
  }

  .rings:nth-of-type(2) {
    @include transform(rotate(90deg));
    width: 550px;
    height: 550px;
    animation: rotate 25s linear infinite;
    animation-fill-mode: forwards;
    animation-direction: forwards;
    animation-timing-function: ease;
  }

  .rings:nth-of-type(2):before {
    top: -10px;
    display: none;
    width: 25px;
    height: 25px;
  }

  .rings:nth-of-type(2):after {
    bottom: -6px;
    width: 10px;
    height: 10px;
  }

  .rings:nth-of-type(3) {
    @include transform(rotate(90deg));
    width: 500px;
    height: 500px;
    animation: rotate 30s linear infinite;
    animation-fill-mode: forwards;
    animation-direction: forwards;
    animation-timing-function: ease;
  }

  .rings:nth-of-type(3):before {
    top: -9px;
    width: 18px;
    height: 18px;
  }

  .rings:nth-of-type(3):after {
    bottom: -9px;
  }

  .rings:nth-of-type(4) {
    @include transform(rotate(90deg));
    width: 450px;
    height: 450px;
    animation: rotate 35s linear infinite;
    animation-fill-mode: forwards;
    animation-direction: forwards;
    animation-timing-function: ease;
  }

  .rings:nth-of-type(4):before {
    top: -7px;
    display: none;
    width: 11px;
    height: 11px;
  }

  .rings:nth-of-type(4):after {
    bottom: -9px;
    display: none;
  }

  .rings:nth-of-type(5) {
    @include transform(rotate(90deg));
    width: 400px;
    height: 400px;
    border: 2px solid rgba(255, 255, 255, .9);
    animation: rotate 45s linear infinite;
    animation-fill-mode: forwards;
    animation-direction: forwards;
    animation-timing-function: ease;
  }

  .rings:nth-of-type(5):before {
    top: -10px;
    display: none;
  }

  .rings:nth-of-type(5):after {
    bottom: -9px;
    display: none;
  }

  .rings:nth-of-type(6) {
    @include transform(rotate(45deg));
    width: 200px;
    height: 200px;
    border: 2px solid rgba(255, 255, 255, .6);
    animation: rotate 45s linear infinite;
    animation-fill-mode: forwards;
    animation-direction: forwards;
    animation-timing-function: ease;
  }

  .rings:nth-of-type(6):before {
    top: -8px;
    display: none;
    width: 14px;
    height: 14px;
  }

  .rings:nth-of-type(6):after {
    top: -5px;
    display: none;
    width: 9px;
    height: 9px;
  }

  .rings:nth-of-type(7) {
    @include transform(rotate(45deg));
    width: 200px;
    height: 200px;
    border: 2px solid rgba(255, 255, 255, .0);
    animation: rotate 95s linear infinite;
    animation-fill-mode: forwards;
    animation-direction: forwards;
    animation-timing-function: ease;
  }

  .rings:nth-of-type(7):before {
    top: -7px;
    width: 12px;
    height: 12px;
  }

  .rings:nth-of-type(7):after {
    bottom: -10px;
    width: 18px;
    height: 18px;
  }

  .rings:nth-of-type(8) {
    @include transform(rotate(45deg));
    width: 200px;
    height: 200px;
    border: 2px solid rgba(255, 255, 255, .4);
    animation: rotate 95s linear infinite;
    animation-fill-mode: forwards;
    animation-direction: forwards;
    animation-timing-function: ease;
  }

  .rings:nth-of-type(8):before {
    top: -7px;
    width: 12px;
    height: 12px;
  }

  .rings:nth-of-type(8):after {
    bottom: -10px;
    width: 18px;
    height: 18px;
  }

  .rings:nth-of-type(9) {
    @include transform(rotate(45deg));
    width: 160px;
    height: 160px;
    border: 2px solid rgba(255, 255, 255, .4);
    animation: rotate 75s linear infinite;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
  }

  .rings:nth-of-type(9):before {
    top: -5px;
    width: 8px;
    height: 8px;
  }

  .rings:nth-of-type(9):after {
    bottom: -6px;
    display: none;
    width: 9px;
    height: 9px;
  }

  .rings:nth-of-type(10) {
    @include transform(rotate(45deg));
    width: 120px;
    height: 120px;
    animation: rotate 65s linear infinite;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
  }

  .rings:nth-of-type(10):before {
    top: 2px;
    left: -50px;
    width: 6px;
    height: 6px;
  }

  .rings:nth-of-type(10):after {
    bottom: 30px;
    left: -150px;
    display: none;
    width: 8px;
    height: 8px;
  }

  .rings:nth-of-type(11) {
    width: 60px;
    height: 60px;
    background: $white;
    opacity: .5;
    animation: pulse 5s infinite ease-in-out, pulseglow 5s infinite ease-in-out;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, .9);
  }

  .rings:nth-of-type(11):before {
    display: none;
  }

  .rings:nth-of-type(11):after {
    display: none;
  }

  @keyframes pulse {
    0% {
      box-shadow: 0 0 15px rgba(255, 255, 255, .4), 0 0 50px rgba(255, 255, 255, .5);
    }

    50% {
      box-shadow: 0 0 25px rgba(255, 255, 255, 1), 0 0 70px rgba(255, 255, 255, 1);
    }

    100% {
      box-shadow: 0 0 15px rgba(255, 255, 255, .4), 0 0 50px rgba(255, 255, 255, .5);
    }
  }


  @keyframes pulseglow {
    0% {
      opacity: .5;
    }

    50% {
      opacity: .9;
    }

    100% {
      opacity: .5;
    }
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  /* ==========================================================================
    FULLWIDTH DEVICES SECTION
  ========================================================================== */

  #deviceContainer {
    position: relative;
    margin-top: 50px;

    .col-md-4 {
      position: absolute;
      bottom: 0;
      left: 0;
    }

    .col-md-2 {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }


