@import 'base';

/* ==========================================================================
  FOOTER
========================================================================== */

footer {

  p {
    padding-top: 33px;
  }
}

.footer {
  color: $white;
  background: $black url('../img/backgrounds/footer-bg.jpg') no-repeat 0 0;
}

.footer {
  background: url('../img/backgrounds/footer-bg.jpg') no-repeat center;
  background-size: cover !important;
}

@media only screen and (min-width: 1200px) {
  .footer {
    background-size: cover;
  }
}

@media only screen and (min-width:1240px) {
  .footer {
    background-attachment: fixed;
  }
}

@media only screen and (min-width:2503px) {
  .footer {
    background: url('../img/backgrounds/footer-bg-lg.jpg') no-repeat center;
    background-attachment: fixed;
    background-size: auto auto, auto auto, cover;
  }
}

.footer .wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

.footer h2.title {
  margin: 0.5em 0 2.5em;
  color: $grey-700;
  font-size: 3.275rem !important;
  font-family: "Lato", sans-serif !important;
  font-weight: 900 !important;
  letter-spacing: .08em !important;
  text-align: center;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, .3);
}

.footer h3 {
  margin: 0 0 3.25em;
  color: $grey-400;
  font: 15px/1em "Lato", sans-serif;
  font-weight: 200;
  letter-spacing: .16em;
  line-height: 1.25em;
  text-align: center;
  text-transform: uppercase;
}


.contact-form {
  list-style-type: none;
  li {
    div {
      margin-bottom: 2.5em;
    }
  }
  input,
  textarea,
  select {
    width: 100%;
    margin-bottom: 1.5em;
    padding-bottom: 1.5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 2px solid $grey-800;
    background: none;
    font-family: 'Lato', sans-serif;
    color: $grey-200;
    font-weight: 100;
    font-size: 18px;
    letter-spacing: 0.05rem;
    transition: ease-in-out 0.25s;
  }
  textarea {
    min-height: 50px;
    max-height: 500px;
    white-space: pre-wrap;
    word-wrap: break-word;
    resize: vertical;
    overflow: hidden;
    background: none !important;
  }
  ::-webkit-input-placeholder {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    color: $grey-600;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.05rem;
  }
  label {
    @include safe-rem(padding-bottom, 15);
    font-family: "Lato", sans-serif;
    font-size: 14px;
    color: $grey-600;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.05rem;
  }
  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
    outline: none;
    resize: none;
    background: none;
    border-bottom: 2px solid $red-200;
  }
  #slider-range-min {
    outline: 0;
    background: $grey-900;
    height: 3em;
    border: 0;
    border-radius: 0;
    .ui-slider-range {
      background: #db4d57;
      border-radius: 0;
    }
    .ui-slider-handle {
      outline: 0;
      top: 0;
      margin-left: -.4em;
      width: 7px;
      height: 100%;
      background: none #1a1a1a;
      border-radius: 0;
      border: 0;
      cursor: pointer;
    }
  }
  #amount {
    border: 0;
    color: $grey-500;
    font-weight: 400;
    font-size: 25px;
    padding-top: 1.85em;
    padding-left: 1em;
    letter-spacing: 3px;
  }
}

/* ==========================================================================
  CMS SUPPORT
========================================================================== */

.powered-by {

  span {
    @include safe-rem(margin-top, 65);
    font-family: 'Lato', sans-serif;
    font-size: 1.265rem;
    font-weight: 300;
    letter-spacing: 0.04em;
    text-align: center;
    color: $grey-700;
    display: block;
  }

  img {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 15px;
  }

}

.crafted-with {

  span {
    @include safe-rem(margin-top, 8);
    font-family: 'Lato', sans-serif;
    font-size: 1.265rem;
    font-weight: 300;
    letter-spacing: 0.04em;
    text-align: center;
    color: $grey-700;
    display: block;
  }

  div {
    margin: 16px auto;
  }

  $heart: (
          color: rgb(74,74,74),
          size: 2em,
  );

  // Create heart base and rotate into positon
  .heart {
    background: map-get($heart, color);
    height: map-get($heart, size);
    left: 50%;
    position: absolute;
    top: 50%;
    width: map-get($heart, size);
    transform: translate(-50%, -50%) rotate(45deg);

    // Create top circles
    &::before,
    &::after {
      background: map-get($heart, color);
      border-radius: 100%;
      content: '';
      height: map-get($heart, size);
      position: absolute;
      width: map-get($heart, size);
    }

    // Positon left circle
    &::before {
      left: -50%;
      top: 0;
    }

    // postion right circle
    &::after {
      right: 0;
      top: -50%;
    }
  }


  .heart:hover {
    color: rgb(237, 2, 42);
    animation: .75s linear 0s infinite reverse heartBeat;
    transform: translate(-50%, -50%) rotate(45deg);
    transform-style: preserve-3d;
  }

  @keyframes heartBeat {
    0% {
      transform: translate(-50%, -50%) rotate(45deg) scale(1);
    }
    25% {
      transform: translate(-50%, -50%) rotate(45deg) scale(1.25);
    }
    45% {
      transform: translate(-50%, -50%) rotate(45deg) scale(1.1);
    }
    65% {
      transform: translate(-50%, -50%) rotate(45deg) scale(1.5);
    }
    85% {
      transform: translate(-50%, -50%) rotate(45deg) scale(1);
    }
    100% {
      transform: translate(-50%, -50%) rotate(45deg) scale(1);
    }
  }

}

.copyright {
  span {
    margin: 0 auto;
    margin-top: 75px;
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 0.865rem;
    font-weight: 300;
    letter-spacing: 0.04em;
    text-align: center;
    color: $grey-700;
  }
}





/* ==========================================================================
  MAP
========================================================================== */

#gmap {
  width: 100%;
  height: 350px;
}


/* ==========================================================================
  CONTACT
========================================================================== */

#contact h5 {
  margin: 0 0 25px;
  font-weight: bold;
  font-size: 1.563rem;
  line-height: 2rem;
  text-align: left;
}

#contact .social {
  margin-bottom: 20px;
}
