
@import 'base';

// ###Settings

// Set base font size
$rem-base: 16px !default;
// Set line height ratio base
$line-height-base: 26px !default;
// Vertical rhythm ratio
$type-rhythm-ratio: 1.14 !default;
// Desktop Media Query
$desktop: '(min-width: 1024px)' !default;
// Tablet Media Query
$tablet: '(min-width: 768px) and (max-width: 1023px)' !default;
// Mobile Media Query
$mobile: '(max-width: 767px)' !default;
// Set Grid Column Count
$grid-columns: 12 !default;
// Set Grid Gutter (as px)
$grid-gutter: 20px !default;
// Set Grid Padding (as px)
$grid-padding: 20px !default;
// Set Grid Max Width (as px)
$grid-max-width: 1080px !default;

html,
body {
  @include box-sizing(border-box);
  height: 100%;
  font-size: 99%;
}

body {
  display: block;
  background: $dark-grey url('../img/backgrounds/broken_noise.png') repeat;
}

.row {
  @include col-container;
  margin: auto;
}

/*Dark Scrollbar */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  ::-webkit-scrollbar {
    width: .85em;
    height: .85em
  }

  ::-webkit-scrollbar-track {
    background-color: $grey-500;
  }

  ::-webkit-scrollbar-thumb:vertical {
    height: 5em;
    background-color: $grey-900;
  }
}


/*LIST*/
ol, ul {
  margin: 0;
  padding: 0;
  list-style: none outside none;
}

li {
  margin: 0;
  padding: 0;
}

/*VERTICAL ALIGN*/
.centerContainer {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;

  > div:nth-of-type(1) {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }

}

/*ABSOLUTE VERTICAL ALIGN*/
.absoluteCenterContainer {
  position: absolute;
  top: 53%;  /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  width: 100%;
  transform: translate(-50%, -50%);
}

.fullScreen {
  width: 100%;
  height: 100%;
}

.paddingStandard {
  padding: 155px 0;
}

.paddingPlanSection {
  padding-top: 155px;
}

.paddingStandardTop {
  padding-top: 155px;
}

.paddingStandardBottom {
  padding-bottom: 155px;
}

.paddingSection {
  &:first-child {
    padding-top: 200px;
    padding-bottom: 0px;
  }
  padding: 155px 0;
}

.aligncenter {
  text-align: center;
}

.divider {
  overflow: hidden;
  height: 1px;
  margin: 60px 0;
  border-bottom: 1px solid $grey-100;
}

// responsive layout

.page-wrapper {
  @include breakpoint($mobile) {
    @include safe-rem(padding, 0 10);
  }

  @include breakpoint($tablet) {
    @include safe-rem(padding, 0 10);
  }
}

// responsive nav

.main-menu {
  @include breakpoint($mobile) {
    ul {
      display: none;
    }
  }

  @include breakpoint($tablet) {
    ul {
      display: none;
    }
  }
}


// hides mobile menu on desktop

.mobile-menu {
  @include breakpoint($mobile) {
    display: block;
  }

  @include breakpoint($tablet) {
    display: block;
  }

  @include breakpoint($desktop) {
    display: none;
  }
}

// responsive logo

.menu {
  @include breakpoint($mobile) {
    .logo {
      display: none;
    }

    .logo-mobile {
      display: inline-block;
    }
  }

  @include breakpoint($tablet) {
  }

  @include breakpoint($desktop) {
  }
}


// footer-layout
footer {

  @include breakpoint($mobile) {

  }

  @include breakpoint($tablet) {

    }


  @include breakpoint($desktop) {

  }
}

form {
  @include breakpoint($mobile) {
  }

  @include breakpoint($tablet) {
  }

  @include breakpoint($desktop) {
    @include col(12);
  }
}


