
/* ==========================================================================
  FULLWIDTH DEVICES SECTION
========================================================================== */

#deviceContainer {
  position: relative;
  margin-top: 50px;

  .col-md-4 {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .col-md-2 {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

