
/* ==========================================================================
  RESPONSIVE / MEDIA QUERIES
========================================================================== */

/* HEADER SPECIAL QUERIES */
@media only screen and (max-height: 800px) {

  header .logo {
    margin-bottom: 40px;
  }

  header h2 {
    margin-bottom: 40px;
  }
}



/* Landscape phones and down */

@media (max-width: 768px) {
  header .logo img {
    width: 100px;
  }

  header .logo {
    margin-bottom: 30px;
  }

  h2.title {
    font-size: 	3.125rem !important;
  }

  header h1, #workdetail h1 {
    margin-bottom: 30px;
    font-size: 3rem;
    line-height: 3.1rem;
  }

  p {
    font-size: 1em;
  }

  .avatar-portrait {
    width: 90%;
    height: 350px;
    background: url('../img/avatar-static.png') no-repeat center;
    background-size: contain;


    #avatar-anim {
      display: none;
    }
  }

  .process-nav .nav-title {
    font-size: 1rem;
  }

  .process-plan {
    width: 90%;
    height: 170px;
    background: url('../img/process-one-static.png') no-repeat center;
    background-size: contain;
    margin-bottom: 15px;

    #process-anim-one {
      display: none;
    }
  }

  .process-design {
    width: 90%;
    height: 250px;
    background: url('../img/process-two-static.png') no-repeat center;
    background-size: contain;
    margin-bottom: 15px;


    #process-anim-two {
      display: none;
    }
  }

  .process-deploy {
    width: 90%;
    height: 200px;
    background: url('../img/process-three-static.png') no-repeat center;
    background-size: contain;
    margin-bottom: 15px;


    #process-anim-three {
      display: none;
    }
  }

  .footer {
    background-position: center;
    background-size: cover !important;
  }


  /*responsive nav*/

  #menu-container.sticky .menu-logo {
    height: auto !important;
    margin-top: 11px !important;
  }

  #responsive-menu {
    display: block !important;
    position: fixed;
    width: 100%;
    height: 63px;
    background-color: #000;
    opacity: 0.90;
    z-index: 9999;

    .mobile-menu {
      background-color: #000;
      opacity: 0.90;
      position: fixed;
      top: 20px;
      width: 100%;

    }

      .open, .close {
        position: fixed;
      }
  }


  #menu-container {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 200000;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
  }

  #menu-container .container {
    float: left;
    width: 70%;
    height: 100%;
    padding: 20px;
    background: $black;
  }

  #menu-container .logo {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }

  #menu-container nav {
    width: 100%;
    text-align: center;
  }

  #menu-container nav a {
    display: block !important;
    width: 100%;
    padding: 10px 0 !important;
  }

  #menu-container nav a:last-child:before {
    display: none;
  }


  #articledetail h1 {
    margin-bottom: 30px;
    font-size: 2.4rem !important;
    line-height: 2.6rem;
  }

  #articledetail .imgContainer {
    margin-top: 0;
  }

  #articledetail #articlecontent {
    padding-top: 50px;
  }


  .paddingStandard {
    padding: 75px 0;
  }

  .paddingStandardTop {
    padding-top: 75px;
  }

  .paddingStandardBottom {
    padding-bottom: 75px;
  }

  #numbers .numbercontainer {
    margin-bottom: 20px;
  }

  #numbers .col-md-3 {
    margin-bottom: 20px;
  }

  #memberfilter, #blogfilter {
    text-align: center;
  }

  #work {
    p {
      br {
        display: none;
      }
    }
  }

  #portfoliogrid .item {
    width: 100% !important;
  }

  #portfoliogrid .item.width2 {
    width: 100% !important;
  }

  .isotopeFilter a {
    padding: 5px 9px;
  }

  .testimonial p {
    margin-bottom: 30px;
    font-style: italic;
    font-size: 1.625rem;
    line-height: 2rem;
  }

  .testimonial p:before {
    margin-right: 11px;
    content: '“';
    font-size: 2.750rem;
  }

  .testimonial p:after {
    margin-left: 3px;
    content: '”';
    font-size: 2.750rem;
  }

  .testimonial .name {
    font-size: 1rem;
    text-transform: uppercase;
  }

  .testimonial .occupation {
    font-size: .8rem;
  }

  .commentinfo .auth {
    display: block !important;
  }

  .commentinfo .buttons {
    float: none;
  }

  #footer-section {
    h2.title {
      font-size: 3rem !important;
    }
  }

  .article-post, .article-post:nth-of-type(1) {
    padding: 10px 0 10px 0;

    p {
      line-height: 1.4em;
      text-align: justify;
      width: 96%;
      margin: 15px auto 15px auto;
    }
  }

}

/* Portrait Small phones */

@media (min-width: 320px) and (max-width:481px) {

  #mainheader {
    height: 900px;

    .fa-angle-down {
      top: 25px;
      left: 48%;
    }
  }

  h2.title {
    font-size: 3rem !important;
  }

  .glitch {
    display: none;
  }

  .light-text {
    font-size: 1.1rem;
  }

  .process-nav {
    @include safe-rem(margin, 30 auto 0 auto);
    display: inline-block;
  }


  .spacesuit-bg {
    height: 600px;

    .quote-one {
      font-size: 0.845rem;
    }

    .quote-two {
      @include safe-rem(padding-top, 12);
      font-size: 1.55rem;
    }

    .quote-three {
      font-size: 0.725rem;
    }

    #spheres-block {
      display: none;
    }
  }


  #footer-section {
    h2.title {
      font-size: 2rem !important;
      margin: 0.5em 0 1.5em;
    }

    .contact-form {
        li div {
          margin-bottom: 1em;
        }
    }
  }

}

@media (max-width: 940px) {
  #articledetail .imgContainer {
    position: relative;
    height: auto;
  }

  #articledetail #articlecontent {
    margin-top: 0;
  }
}



/* PORTFOLIO */


@media (min-width: 768px) and (max-width: 940px) {
  #portfoliogrid .item {
    width: 50%;
  }

  #portfoliogrid .item.width2 {
    width: 100% !important;
  }
}

@media (min-width: 940px) and (max-width: 1024px) {
  #portfoliogrid .item {
    width: 33%;
  }

  #portfoliogrid .item.width2 {
    width: 66% !important;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  #work .item .rollover .centerContainer a {
    font-size: 1rem;
    letter-spacing: -0;
  }

  #work .item .rollover .centerContainer .title {
    margin-bottom: 12px;
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
}

@media (min-width: 1201px) and (max-width: 1500px) {
  #work .item .rollover .centerContainer a {
    font-size: 1rem;
    letter-spacing: -0;
  }

  #work .item .rollover .centerContainer .title {
    margin-bottom: 12px;
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
}
