@import '../components/base';

body,
html {
  position: relative;
  font-family: "AvenirNext", sans-serif;
}


header h1 {
  margin-bottom: 51px;
  font-size: 2.175rem;
  line-height: 5.25rem;
  text-transform: uppercase;
}

h2 {
  margin-bottom: 80px;
  line-height: 4.118rem;
  text-align: center;
}

h4 {
  margin-bottom: 30px;
  font-size: 1.875rem;
  letter-spacing: -1px;
  line-height: 1.875rem;
}

h5 {
  margin-bottom: 16px;
  font-weight: normal;
  font-size: 1.375rem;
  letter-spacing: -.01rem;
  line-height: 1.375rem;
}

/*PARAGRAPHS*/

p {
  font-size: 1.175rem;
  letter-spacing: .02rem;

  span.bold{
    font-weight: bold;
  }
}

.light-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  color: $grey-500;
}

/*TITLES*/

h1, h2 {
  font-weight: 900;
  font-size: 3.475rem !important;
  letter-spacing: 2px;

    &.title {
      color: $red-100;
      text-transform: uppercase;
      margin-bottom: 35px;
    }
  }


h3 {
  margin-top: 15px;
  font-weight: 900;
  font-size: 1.875rem;
  text-transform: uppercase;
  line-height: 1.875rem;
}


.one-page h1, .one-page h2, .one-page h3, .one-page h4, .one-page h5, .one-page h6 {
  text-align: center;
}

.one-page h2 {
  margin-top: 0;
}

/*LINKS*/
a {
  @include transition(all .3s);
  font-weight: bold;
  text-decoration: none !important;
  outline: 0 !important;
  color: $red-link;
}

a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  outline: 0 !important;
  /*color: $black;*/
}

button::-moz-focus-inner {
  border: 0;
}

/* ==========================================================================
  BOOTSTRAP STYLES
========================================================================== */
.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}
