@import '../components/base';

footer,
.push {
  min-height: 200px;
}

* {
  margin: 0;
  padding: 0;
}


/*IMG FULL WIDTH*/
.img100 {
  width: 100%;
  height: auto;
}

/* BUTTONS */
button.large {
  display: block;
  margin: 0 auto;
  color: lightgrey;
  background: rgba(34, 34, 34, 0.0);
  border: 2px solid #db4d57;
  height: 74px;
  width: 200px;
  font-weight: 600 !important;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: ease-in-out 0.25s;

  span {
    transition: ease-in-out 0.25s;
  }

}

button:hover {
  background: #db4d57;
  color: lightgrey;

  span {
    padding-left: 10px;
    color: white;
  }

}

button {
  &:focus, &:visited, &:active {
    outline: 0;
  }
}


.btn {
  @include transition(all .3s);
  display: inline-block;
  padding: 8px 12px;
  border: 2px solid;
  border-radius: 0 !important;
  color: $white;
  font-weight: normal;
  font-size: 1.125rem;
  text-decoration: none !important;
  text-transform: uppercase;

  /* BUTTON SYLES */

  .white {
    border-color: $white;
    color: $black;
    background-color: $white;
  }

  .dark {
    border-color: $black;
    color: $white;
    background-color: $black;
  }

  .solidhoverWhite:hover {
    border-color: $white !important;
    color: $black !important;
    background-color: $white !important;
  }

  .solidhoverDark:hover {
    border-color: $black !important;
    color: $white !important;
    background-color: $black !important;
  }

  .solidhoverTint:hover {
    color: $white !important;
  }

}

.btn:hover,
.btn:focus {
  border-color: $black;
  color: $white;
  background-color: $black;
  text-decoration: none;
}

.btn-lg,
.btn-group-lg > .btn {
  padding: 17px 20px;
  font-size: 1.250rem;
  line-height: 1.33;
}


.btn-outline {
  border: 2px solid;
  background-color: transparent !important;

  .white {
    color: $white !important;
  }

  .dark {
    color: $black !important;
  }

}

.btn.btn-outline:hover,
.btn.btn-outline:focus {
  color: $black;
}


/*-----------------------------------------------
LABEL
-----------------------------------------------*/
.mobile__label {
  display: inline-block;
  overflow: hidden;
  width: 25px;
  padding: 12px 9px;
  border: solid 2px $white;
  white-space: nowrap;

  &:hover {
    cursor: pointer;
    /*ANIMATION POSITION ON HOVER*/
    .label__line {
      margin-left: 0;
    }

    /*ANIMATION DELAY*/
    :nth-child(2) {
      .label__line {
        transition-delay: .1s;
      }
    }

    :nth-child(3) {
      .label__line {
        transition-delay: .2s;
      }
    }
  }
}

/*LINES CONTENT*/
.mobile__label__content {
  height: 2px;
  margin-bottom: 5px;
  font-size: 0;
  line-height: 0;

  &:last-child {
    margin-bottom: 0;
  }
}

/*WHITE LINES*/
.label__line {
  display: inline-block;
  margin-right: 43px;
  margin-left: -33px;
  /*LINES ANIMATION*/
  transition: margin-left .2s linear;
}


/* ==========================================================================
  PAGE LOADER
========================================================================== */


@keyframes loader {
  0%, 10%, 100% {
    width: 80px;
    height: 80px;
  }
  65% {
    width: 150px;
    height: 150px;
  }
}
@keyframes loaderBlock {
  0%, 30% {
    transform: rotate(0);
  }
  55% {
    background-color: #F37272;
  }
  100% {
    transform: rotate(90deg);

  }
}
@keyframes loaderBlockInverse {
  0%, 20% {
    transform: rotate(0);
  }
  55% {
    background-color: #F37272;
  }
  100% {
    transform: rotate(-90deg);
  }
}

.nonscroll {
  overflow: hidden;
}


#windowloader {
  overflow: auto;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999998;
  display: table;
  background: $black;
}

.loader {

  content: '';
  display: block;
  position: absolute;
  z-index: 999999;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%) rotate(45deg) translate3d(0, 0, 0);
  animation: loader 1.2s infinite ease-in-out;

  span {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    background-color: #EE4040;
    animation: loaderBlock 1.2s infinite ease-in-out both;

    &:nth-child(1) {
      top: 0;
      left: 0;
    }
    &:nth-child(2) {
      top: 0;
      right: 0;
      animation: loaderBlockInverse 1.2s infinite ease-in-out both;
    }
    &:nth-child(3) {
      bottom: 0;
      left: 0;
      animation: loaderBlockInverse 1.2s infinite ease-in-out both;
    }
    &:nth-child(4) {
      bottom: 0;
      right: 0;
    }
  }

  /*LOAD FINISH*/
  .loaded {
    top: -100%;
  }

}
