@import '../components/base';

/* ==========================================================================
  PROCESS NAVIGATION
========================================================================== */

.process-nav {
  @include safe-rem(margin, 80 auto 15 auto);
  display: block;

  a {
    cursor: pointer;
  }

  li {
    @include safe-rem(margin, 10 0 10 0);
    display: block;
  }

  .nav-title {
    @include transition(all 0.3s ease-in-out);
    @include safe-rem(padding, 30 0 30 0);
    font-family: 'Lato', sans-serif;
    color: $grey-700;
    font-size: 1.275rem;
    font-weight: 600;
    letter-spacing: 0.065em;
    text-transform: uppercase;
    text-align: center;
    display: block;
  }

}

.diamond-shape {
  position: relative;
  height: 20px;
  width: 20px;
  margin: 0 auto;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  display: block;
}

.diamond-shape .border {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  height: 20px;
  width: 20px;
  background-color: $red-100;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.diamond-shape .back {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  width: 100%;
  height: 100%;
  border: 1px solid $grey-700;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.process-nav li:hover .nav-title {
  color: $red-100;
}

.process-nav a:hover .diamond-shape .back {
  -webkit-transform: translate(-50%, -50%) scale(1.3);
  transform: translate(-50%, -50%) scale(1.3);
  opacity: 0;
}
.process-nav a:hover .diamond-shape .border {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}


/* ==========================================================================
  PROCESS ANIMATION
========================================================================== */

.process-box {
  width: 550px;
  @include safe-rem(margin, 25 auto 25 auto);
  display: block;
}

#process-one, #process-two, #process-three {
  @include safe-rem(margin, 0 auto 70 auto);
  display: block;
  p {
    @include safe-rem(margin, 30 auto 15 auto);
  }

}
#process-anim-one {
  width: 550px;
  height: 350px;
  display: block;
}
#process-anim-three, #process-anim-two {
  width: 550px;
  height: 400px;
  display: block;
}


